.gradle/5.2.1/vcsMetadata-1/
.idea/sonarlint/
.idea/vcs.xml

.gradle/5.2.1/executionHistory/
.gradle/5.2.1/fileChanges/
.gradle/5.2.1/fileHashes/
.gradle/5.2.1/gc.properties
.gradle/buildOutputCleanup/
.gradle/vcs-1/
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/workspace.xml
gradle/
gradlew
gradlew.bat

build