.gradle/5.2.1/vcsMetadata-1/
.idea/sonarlint/
code/.idea/vcs.xml

.gradle/5.2.1/executionHistory/
.gradle/5.2.1/fileChanges/
.gradle/5.2.1/fileHashes/
.gradle/5.2.1/gc.properties
.gradle/buildOutputCleanup/
.gradle/vcs-1/
code/.idea/gradle.xml
code/.idea/jarRepositories.xml
code/.idea/misc.xml
code/.idea/workspace.xml
gradle/
gradlew
gradlew.bat

build